.main-container{
width: 100Vw;
height: auto;
padding: 1rem;
display: flex;
justify-content: center;
align-items: center;
border-bottom:  double 4px;
} 

.main-container > div {

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.container-img >img {
width: 20rem;
height: 20rem;
border-radius: 50%;
box-shadow: 0 0 15px #fff;

}

.personal-intro > p{
text-align: center;
font-size: 1.6rem;
color: blanchedalmond;
font-weight: 600;

}