.container-section2 {
    width: 110vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    color: white;
}

.container-section2 h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

.content-section {
    display: flex;
    width:98%;
    max-width: 1400px;
    height: auto;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.text-section {
    width: 110%;
    background-color: #1a9ce8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.study-item {
    padding: 1.5rem;
    border-bottom: 1px solid #fff;
}

.study-item:last-child {
    border-bottom: none;
}

.study-item h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.study-item p {
    font-size: 1rem;
    color: #f0f0f0;
}

.image-section {
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070606;
}

.image-section img {
    width: 100%;

    height: auto;
    border-radius: 0 10px 10px 0;
}

